<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Perfil</title>
  <link rel="shortcut icon" href="https://scontent.flsc3-1.fna.fbcdn.net/v/t39.30808-6/323952263_1362112847866960_2553278997048678117_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=9c7eae&_nc_ohc=e9zh3Nsrn-4AX9mEhCt&_nc_oc=AQnLJj98zPZ1cib7Dj2LjF_6_dkVtUfniKTi0E7D_Rs3_q2cRdfIW76z5sBP11NcDWw&_nc_ht=scontent.flsc3-1.fna&oh=00_AfAELYPa49OOzzbc9jZawzKUowu0_FxvEKDx9vExyjnzrQ&oe=658EB82A">
</head>
<body>

  <h1>Perfil de Usuario</h1>
  
  <div>
    <p>Nombre: <span id="nombreUsuario"><%= user.NombreUsuario %></span></p>
    <p>Rol: <span id="rolUsuario"><%= user.Rol %></span></p>
    <p>Cargo: <span id="cargoUsuario"><%= user.Cargo %></span></p>
  </div>

</body>
</html>

